*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header{
    background-color: #f2f2f2;
    text-align: center;
    padding: 25px 0;
}
nav a{
    display: inline-block;
    text-decoration: none;
    color: #696969;
    margin: 0 30px ;
    padding: 5px 15px;
    border-radius: 30px;
}
nav a:hover{
    background-color: #000;
    color: #fff;    
}
.banner-img{
    background-image: url(img/banner.jpg);
    height: 380px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.banner-img p{
font-size: 20px;
}
.banner-img h1{
    font-size: 50px;
    padding: 20px;
}
.pie{
    background-color: white;
    color: #696969;
    padding: 20px 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}